Function LMS Assignment

1)

In [ ]:

def calculate_salary (base_salary, bonus_percent=10, deductions_percent=5):
 bonus = base_salary * (bonus_percent / 100)
 deductions = base_salary * (deductions_percent / 100)
 total_salary = base_salary + bonus - deductions
 return total_salary

calculate_salary(50000,10,5)

52500.0

2)

In [1]:
def apply_discount(price, discount_function):
    return discount_function(price)


flat_discount = lambda price: price - 50
percentage_discount = lambda price: price * 0.8  

print(apply_discount(500, flat_discount))
print(apply_discount(500, percentage_discount))

450
400.0

3.

In [2]:
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)


print(fibonacci(10))

55

4.

In [3]:
products = [
    {"name": "Laptop", "price": 1200},
    {"name": "Phone", "price": 800},
    {"name": "Tablet", "price": 600},
    {"name": "Monitor", "price": 300}
]

# Apply discount
discounted_prices = list(map(
    lambda p: {"name": p["name"], "price": p["price"] * 0.9},
    products
))

print(discounted_prices)

# Filter products0
expensive_products = list(filter(
    lambda p: p["price"] > 500,
    products
))

print(expensive_products)

[{'name': 'Laptop', 'price': 1080.0}, {'name': 'Phone', 'price': 720.0}, {'name': 'Tablet', 'price': 540.0}, {'name': 'Monitor', 'price': 270.0}]
[{'name': 'Laptop', 'price': 1200}, {'name': 'Phone', 'price': 800}, {'name': 'Tablet', 'price': 600}]

5.

In [4]:
asc = sorted(products, key=lambda p: p["price"])
print(asc)

desc =sorted(products, key=lambda p: p["price"], reverse=True)
print(desc)

[{'name': 'Monitor', 'price': 300}, {'name': 'Tablet', 'price': 600}, {'name': 'Phone', 'price': 800}, {'name': 'Laptop', 'price': 1200}]
[{'name': 'Laptop', 'price': 1200}, {'name': 'Phone', 'price': 800}, {'name': 'Tablet', 'price': 600}, {'name': 'Monitor', 'price': 300}]

6.

In [6]:
import time

def execution_time(func):
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        end = time.time()
        print(f'execution time :- {end - start:.6f} seconds')
        return result
    return wrapper

@execution_time
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

factorial(10)

execution time :- 0.000011 seconds

3628800

7.

In [7]:
def analyze_numbers(num):
    sq=list(map(lambda x: x**2,num))
    fil=list(filter(lambda x:x>50,sq))
    return fil

print(analyze_numbers([2, 5, 10]))

[100]

8.

In [8]:
from functools import reduce

def custom_aggregate(numbers, func):
    return reduce(func, numbers)

sum_result = custom_aggregate([1, 2, 3, 4], lambda x, y: x + y)
print("Sum:", sum_result)

product_result = custom_aggregate([1, 2, 3, 4], lambda x, y: x * y)
print("Product:", product_result)

Sum: 10
Product: 24

9.

In [9]:
data =[
    {"name": "Alice", "age": 30, "score": 85},
    {"name": "Bob", "age": 25, "score": 90},
    {"name": "Charlie", "age": 35, "score": 95}
]

name = list(map(lambda x:x['name'],data))
print(name)
avg_score = sum(map(lambda x:x['score'],data))/len(data)
print(avg_score)

['Alice', 'Bob', 'Charlie']
90.0

10.

In [10]:
from functools import reduce

def dynamic_function(numbers, operation):
    operations = {
        "add": lambda x, y: x + y,
        "subtract": lambda x, y: x - y,
        "multiply": lambda x, y: x * y,
        "divide": lambda x, y: x / y if y != 0 else float('inf')
    }
    
    if operation not in operations:
        raise ValueError("Invalid operation")
    
    return reduce(operations[operation], numbers)


print(dynamic_function([10, 5, 2], "add"))
print(dynamic_function([10, 5, 2], "subtract"))
print(dynamic_function([10, 5, 2], "multiply"))
print(dynamic_function([100, 5, 2], "divide"))

17
3
100
10.0